<!DOCTYPE html>
<html lang="kr">
<head>
   <title>augenstern</title>
   <link href="../css/css11.css" rel="stylesheet" />

   <style>
   body {
       height: 1000vh;
       margin: 50px;
   }
  span {
      background-color: blue;
  }
  span:nth-child(3n+1) {
      background-color: violet;
  }
   </style>
</head>
<body>
<span>hello</span>
<span>hello</span>
<span>hello</span>
<span>hello</span>
<span>hello</span>
<span>hello</span>
<span>hello</span>
<span>hello</span>
<span>hello</span>
<span>hello</span>
<span>hello</span>
<span>hello</span>

</body>
</html>