<!DOCTYPE html>
<html lang="kr">
<head>
   <title>augenstern</title>
   <link href="../css/css13.css" rel="stylesheet" />

   <style>
   body {
       height: 1000vh;
       margin: 50px;
   }
   span {
      background-color: violet;
      padding: 5px;
      border-radius: 10px;
   }
    p span {
       color: dodgerblue;
   }
   p ~ span {
       text-decoration: underline;
   }
   </style>
</head>
<body>
    <div>
<p>
    apple black sheep wall show me the money operation cwal 
    food for thought <span>inside</span>
</p>
<address>hello</address>
<span>hello</span>
</div>
</body>
</html>