<!DOCTYPE html>
<html lang="kr">
<head>
   <title>augenstern</title>
   <link href="../css/css1.css" rel="stylesheet" />

   <style>
       :root {
           --main-color: #6e6a54;
           --default-border: 1px solid var(--main-color);
       }
   body {
       height: 1000vh;
       margin: 50px;
   }
   p {
       background-color: var(--main-color);
   }
   a {
       color: var(--main-color);
       border: var(--default-border)
   }
   </style>
</head>
<body>
<p>
show me the money black sheep wall food for thought
</p>
<div>
    <a href="#">website</a>
</div>
</body>
</html>