<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="../css/css21.css" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Friends - KakaoTalk</title>
  </head>

  <body>
    <div class="status-bar">
      <div class="status-bar__column">
        <span>no service</span>
        <div>
          <i class="fa-solid fa-wifi"></i>
        </div>
      </div>

      <div class="status-bar__column">
        <span>16:43</span>
      </div>

      <div class="status-bar__column">
        <span>40%</span>
        <i class="fa-solid fa-battery-half"></i>
        <i class="fa-solid fa-bolt-lightning"></i>
      </div>
    </div>
    <nav class="nav">
      <ul class="nav__list">
        <li class="nav__btn">
          <a class="nav__link" href="css22.html"
            ><i class="fa-solid fa-user fa-2x"></i
          ></a>
        </li>
        <li class="nav__btn">
          <a class="nav__link" href="#">
            <span class="nav__notification">1</span
            ><i class="fa-regular fa-comment fa-2x"></i
          ></a>
        </li>
        <li class="nav__btn">
          <a class="nav__link" href="# "
            ><i class="fa-solid fa-magnifying-glass fa-2x"></i
          ></a>
        </li>
        <li class="nav__btn">
          <a class="nav__link" href="#"
            ><span class="nav__dot">.</span
            ><i class="fa-solid fa-ellipsis fa-2x"></i
          ></a>
        </li>
      </ul>
    </nav>

    <script
      src="https://kit.fontawesome.com/1fb9c100e5.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
