
<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="../css/css21.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>welcome to KakaoTalk</title>
</head>

<body>
    <div class="status-bar">
        <div class="status-bar__column">
            <span>no service</span>
            <div>
                <i class="fa-solid fa-wifi"></i>
            </div>
        </div>

        <div class="status-bar__column">
            <span>16:43</span>
        </div>
        
        <div class="status-bar__column">
            <span>11%</span>
            <i class="fa-solid fa-battery-half"></i>
            <i class="fa-solid fa-bolt-lightning"></i>
        </div>
    </div>

    <header class="welcome-header">
        <h1 class="welcome-header__title">welcome to KakaoTalk</h1>
        <p class="welcome-header__text">if you have a kakao account , log in with your email or phone number.</p>
    </header>


    <form id="login form">
        <input type="text" placeholder="Email or phone number" />
        <input type="password" placeholder="Password" />
        <input type="submit" value="Log In" />
        <a href="#">Find Kokoa Account or password</a>
    </form>

    <script src="https://kit.fontawesome.com/1fb9c100e5.js" crossorigin="anonymous"></script>
</body>

</html>