<!DOCTYPE html>
<html lang="kr">
<head>
   <title>augenstern</title>
   <link href="../css/css8.css" rel="stylesheet" />

   <style>
   body {
       height: 100vh;
       margin: 20px;
       display: flex;
       justify-content: space-between;
       align-items: stretch;
   }
   div{
      
       width: 200px;
       height: 200px;
       background-color: rgb(213, 205, 255);
   }
   #second {
       background-color: blue;
   }
   </style>
</head>
<body>
<div></div>
<div id="second"></div>
<div></div>
</body>
</html>