<!DOCTYPE html>
<html lang="kr">
<head>
   <title>augenstern</title>
   <link href="../css/css1.css" rel="stylesheet" />

   <style>
   body {
       height: 1000vh;
       margin: 20px;
   }
   div{
       
       width: 200px;
       color: chartreuse;
       height: 200px;
       background-color: rgb(213, 205, 255);
   }
   #green{
       position: fixed;
       background-color: violet;
       opacity: 0.2;
   }
   #different{
       background-color: yellowgreen;
   }
   </style>
</head>
<body>
<div id="green"></div>
<div id="different"></div>
</body>
</html>